mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}
button {
  background-color: #71d76f;
  color: white;
}
#errorLogin {
  font-family: "Sofia", sans-serif;
  color: red;
}
