<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
      <img src="assets\logo.png" width="170" height="60" />
      <div *ngIf="showError" id = "errorLogin" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" name="username" required>
        <mat-label>Username@corp.velox.me</mat-label>
        <mat-error>
          Please provide a valid username (like username@corp.velox.me)
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-button [disabled]="!loginForm.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
