.main {
    margin: 5px;
}
.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}
.card{
    display: inline-block;
    margin: 3px;
}
.card {
   max-width: 300px;
}
.example-spacer {
  flex: 1 1 auto;
}
.spacer {
  flex: 1 1 auto;
}
mat-label {
  text-align: center;
}
