<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin-left: 5px">{{clientName}} ({{clientPrefix}})</span>
      <span class="spacer"></span>
      <img src="assets\logo.png" routerLink="/main" width="85" height="30" />
      <button mat-icon-button class="logout-button" (click)="logout()" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#6ad769" type="line-spin-fade-rotating" [fullScreen]="false"><p style="color: white">   Loading... </p></ngx-spinner>
<mat-drawer-container>
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-form-field id="search_input">
      <mat-label>Search by prefix</mat-label>
      <input matInput type="text" [(ngModel)]="searchPrefix" (keypress)="searchInput($event)" />
    </mat-form-field>
    <button class="button-sidebar" mat-button color="primary" (click)="getClient()">Select</button>
  </mat-drawer>
  <div class="main">
    <img class="logo" width="150" [style.display]="isClientLoaded() ? 'block' : 'none'" [src]="imageUrl" />
    <div class="container">
      <div class="pages">
        <mat-list>
          <mat-list-item (click) ="goToLocationsPage()">
            <mat-icon>location_city</mat-icon> Location page <span class="spacer"></span>      <button mat-icon-button> <mat-icon>domain_add</mat-icon> </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><mat-icon>collections_bookmark</mat-icon>Teaching Collection page<span class="spacer"></span>      <button mat-icon-button> <mat-icon>bookmark_add</mat-icon> </button></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><mat-icon>settings</mat-icon>Configuration page</mat-list-item>
        </mat-list>
      </div>
      <div class="features">
        <mat-list>
          <mat-list-item><mat-icon>contact_page</mat-icon>Assign Report</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><mat-icon>room_preferences</mat-icon>Add room</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><mat-icon>payments</mat-icon>Change Billing</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</mat-drawer-container>

<footer>
</footer>
