.main {
    margin: 5px;
}
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  cursor: pointer;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-list {
  background-color: white;
}
.features {
    margin-top: 10px;
}
