<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon routerLink="/main">arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <img src="assets\logo.png" routerLink="/main" width="85" height="30" />
  </mat-toolbar>
</header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#6ad769" type="line-spin-fade-rotating" [fullScreen]="false"><p style="color: white">   Loading... </p></ngx-spinner>
<div class="main">
  <div class="container">
    <div class="input">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="input">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="input">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  </div>
<footer>
  <div class="container">

  </div>
</footer>
